*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reseteo el css */
/* maqueto el header titulo e imagen (icono) */

.inicio{
    display: flex;
    background-color: rgba(246, 198, 234, 1);
    font-size: 35px;
    text-align: center;
    padding: 30px 0px 20px 150px;
    gap: 200px;
    width: 200vh;
    

}
.imagen{
    display:grid;
    width: 200vh;
    height: 50vh;
    background-color:rgba(0, 255, 255, 0.068);
    grid-template-columns: 400px 500px 100px;
    grid-template-rows: 100px 50px 50px;
    grid-template-areas:
    "tipo img img "
    "tipo img img"
    "tipo img img"
    ;
}

.img{
    grid-area: img;
    width: 100vh;
    height: 50vh;
    grid-area: img;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; 
    
    /* justify-content: center;
    align-content: center;
    align-items: center; */
    padding: 10px 10px 10px 10px;
    background-color: rgba(137, 43, 226, 0.089);
}
.tipo{
    grid-area: tipo;
    width: 50vh;
    height: 50vh;
    background-color: rgba(165, 87, 42, 0.068);
}
.main{
    width: 100vh;
    height: 100%;
    text-decoration: none;
}
.navbar{
    display:flex;
    background-color:rgb(241, 245, 18);
    width: 200vh;
    height: 5vh;
    padding-left: 350px;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    line-height: 100%;
    font-size: 20px;
    text-align: center;
    flex-wrap: wrap;
}
.cuerpo{
    display:grid;
    width: 200vh;
    height: 1497px; 
    background-color:lightgray;
    grid-template-columns: 200px 850px 200px;
    /* grid-template-rows: repeat(2,1fr); */
    grid-template-rows: 50vh 10vh 10vh 10vh;
    grid-template-areas: 
    "footer header main"
    "footer header main"
    "footer header main"
    "footer header main"
    ;
}

.pres{
    grid-area: header;
    background-color: rgba(0, 17, 255, 0.096);
    padding-left: 100px;
    padding-top: 7px;
}

.prom{
    grid-area: main;
    background-color: rgba(0, 0, 255, 0.37);
}

.ofer{
    grid-area: footer;
    background-color: rgba(255, 127, 80, 0.164);
    text-align: center;
}

    h2{
        font-size: 20px;
        text-indent: 300px;
        margin: 30px;

    }
h3{
    font-style: oblique;
    text-decoration-style: dotted;
    text-decoration-style: solid;
}

.tipo {
    text-align: center;
    /* display: block; */
}



.menu{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
    /* text-align: center; */
    height: 60px;
    width: 200vh;
    background-color:rgba(205, 240, 234, 1);

}
.sectionFooter{

        flex-wrap: wrap;
        height: 70px;
        width: 200vh;
        justify-content: row;
    }


.contacto{
        background-color:greenyellow;
        text-align: center;
        width: 200vh;
        height: 50px;
        padding: 10px 10px 10px 10px;
        border-bottom: 20px;
        flex-wrap: wrap;
}


.acerca{
    background-color:rgba(250, 7, 238, 0.158);
    line-height: 150%;
    text-align: center;
    font-size: medium;
    width: 200vh;
    height: 140vh;
    display: grid;
    /* gap: 5px; */
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "image  none tipo"
    "image none tipo"
    ;
}

.acercab{
    grid-area: image;
    background-color:crimson;
    width: 100vh;
    height: 80%;
    
    /* padding: 10px 20px 20px 10px; */
}
.article{
    grid-area: tipo;
    background-color: rgba(137, 43, 226, 0);
    width: 80vh;
    height: 30%;
    text-align: justify;
    text-decoration-style: solid;
    text-decoration: none;
    
}
@media(max-width: 1440px){

}
@media(max-width: 1024px){

}
@media(max-width: 768px){
    h1{
        text-align: left;
        font-size: 25px;
        gap: 5px;
        flex-wrap: wrap;
        /* padding-left: 10px; */    
    }
    .sectionFooter{
        flex-wrap: wrap;
        justify-content: left;
    }
}

@media(max-width: 425px){

}

@media(max-width: 375px){
    .inicio{
        font-size: 1rem;
        text-align: justify;
        padding: 1rem 2rem 1rem 10rem;
        display: column;
        width: 50rem;
        height: 40vh;
    }


    .menu{
        justify-content: space-between;
        padding-left: 8rem;
        padding-top: 2rem;
        height: 40vh;
        width: 50rem;
    }
    .navbar{

        width: 50rem;
        height: 5vh;
        padding-left: 6rem;
        padding-top: 0.5rem;
        text-align: center;
        font-size: 20px;
    }
    .sectionFooter{
        display:inline-block;
        height: 65vh;
        width: 50rem;
        padding-top: 7rem;
        
    }
    .tipo{
        width: 50rem;
        height: 60vh;
    }

    .contacto{
        font-size: 1.75rem;
        text-align: center;
        /* padding-left: 1rem; */
        width: 50rem;
        height: 20vh;
    }
    .img{
        grid-area: img;
        width: 50px;
        height: 50vh;
        grid-area: img;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1px 10px 10px 0px;   
    }
    .imagen{
        width: 25vh;
        height: 35vh;
        grid-template-columns: 5vh 5vh 5vh;
        grid-template-rows: 10vh 10vh 10vh;
        ;
    }
} 

@media(max-width: 320px){
    
    .inicio{
        font-size: 1rem;
        text-align: justify;
        padding: 0.5rem 2rem 1rem 0rem;
        display: block;
        width: 50rem;
        height: 50vh;
        display: block;
    }

    .menu{
        justify-content: space-between;
        height: 35vh;
        width: 50rem;
        display: inline-block;
    }
    .navbar{
        width: 50rem;
        height: 5vh;
        padding-left: 5rem;
        padding-top: 0.5rem;
        text-align: center;
        font-size: 12px;
    }
    .sectionFooter{
        display:inline block;
        height: 10vh;
        width: 50rem;    
    }
    .tipo{
        width: 50rem;
        height: 100vh;
    }
.cuerpo{
    height: 120vh;
}

    .contacto{
        font-size:0.8rem;
        text-align: justify;
        width: 50rem;
        height: 10vh;
    }
    .img{
        grid-area: img;
        width: 20rem;
        height: 50vh;
        grid-area: img;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1px 10px 10px 0px;   
    }
    .imagen{
        width: 50rem;
        height: 50vh;
        grid-template-columns: 5vh 5vh 5vh;
        grid-template-rows: 10vh 10vh 10vh;
        ;
    }
}
