*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reseteo el css */
/* maqueto el header titulo e imagen (icono) */

.inicio{
    display: flex;
    background-color: rgba(246, 198, 234, 1);
    font-size: 50px;
    text-align: center;
    padding: 30px 0px 20px 150px;
    gap: 1000px;
    width: 180vh;
}
.pepito{
    display: flex;
    background-color: rgba(246, 198, 234, 1);
    font-size: 50px;
    text-align: center;
    padding: 30px 0px 20px 150px;
    gap: 500px;
    width: 180vh;
}
.imagen{
    display:grid;
    width: 10vh;
    height: 50vh;
    background-color:rgba(0, 255, 255, 0.068);
    grid-template-columns: 400px 500px 100px;
    grid-template-rows: 100px 50px 50px;
    grid-template-areas:
    "tipo img img "
    "tipo img img"
    "tipo img img"
    ;
}

.img{
    grid-area: img;
    width: 120vh;
    height: 50vh;
    grid-area: img;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; 
    
    /* justify-content: center;
    align-content: center;
    align-items: center; */
    padding: 10px 10px 10px 10px;
    background-color: rgba(137, 43, 226, 0.089);
}

.tipo{
    grid-area: tipo;
    width: 60vh;
    height: 50vh;
    background-color: rgba(165, 87, 42, 0.068);
}
.main{
    width: 120vh;
    height: 100%;
    text-decoration: none;
}
.navbar{
    display:flex;
    background-color:rgb(241, 245, 18);
    width: 180vh;
    height: 5vh;
    gap: 30px;
    padding-left: 700px;
    /* justify-content: space-between; */
    list-style: none;
    text-decoration: none;
    line-height: 100%;
    font-size: 30px;
    text-align: center;
    flex-wrap: wrap;
}

.cuerpo{
    display:grid;
    width: 200vh;
    height: 1497px; 
    background-color:lightgray;
    grid-template-columns: 200px 850px 200px;
    /* grid-template-rows: repeat(2,1fr); */
    grid-template-rows: 50vh 10vh 10vh 10vh;
    grid-template-areas: 
    "footer header main"
    "footer header main"
    "footer header main"
    "footer header main"
    ;
}

.pres{
    grid-area: header;
    background-color: rgba(0, 17, 255, 0.096);
    padding-left: 100px;
    padding-top: 7px;
}

.prom{
    grid-area: main;
    background-color: rgba(0, 0, 255, 0.37);
}

.ofer{
    grid-area: footer;
    background-color: rgba(255, 127, 80, 0.164);
    text-align: center;
}

    h2{
        font-size: 20px;
        text-indent: 300px;
        margin: 30px;

    }
h3{
    font-style: oblique;
    text-decoration-style: dotted;
    text-decoration-style: solid;
}

.tipo {
    text-align: center;
    /* display: block; */
}



.menu{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    /* text-align: center; */
    height: 60px;
    width: 180vh;
    background-color:rgba(205, 240, 234, 1);

}
.sectionFooter{

        flex-wrap: wrap;
        height: 70px;
        width: 180vh;
        justify-content: row;
    }
.menute{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 30px; */
    list-style: none;
    /* text-align: center; */
    height: 60px;
    width: 170vh;
    
}

.contacto{
        background-color:greenyellow;
        text-align: center;
        width: 180vh;
        height: 50px;
        padding: 10px 10px 10px 10px;
        border-bottom: 20px;
        flex-wrap: wrap;
}


.acerca{
    background-color:rgba(250, 7, 238, 0.158);
    line-height: 150%;
    text-align: center;
    font-size: medium;
    width: 200vh;
    height: 140vh;
    display: grid;
    /* gap: 5px; */
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "image  none tipo"
    "image none tipo"
    ;
}

.acercab{
    grid-area: image;
    background-color:crimson;
    width: 100vh;
    height: 80%;
    
    /* padding: 10px 20px 20px 10px; */
}
.article{
    grid-area: tipo;
    background-color: rgba(137, 43, 226, 0);
    width: 80vh;
    height: 30%;
    text-align: justify;
    text-decoration-style: solid;
    text-decoration: none;
    
}

@media(max-width: 1440px){
    .inicio{

        width: 1440px;
        height: 40vh;
    }
    .pepito{
        width:1440px;
        font-size: 30px;
        text-align: center;
        padding: 30px 0px 20px 150px;
        gap: 250px;
    }
    .membrete{
        width: 1440px;;
        font-size: 10px;
        text-align: center;
        padding: 10px 0px 20px 150px;
        gap: 25px;
    }
   
    .menute{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding-top: 400px;
        padding-left: 200px;
        height: 60px;
        width: 1440px;
    }
    .navbar{

        width: 1440px;
        height: 5vh;
        padding-left: 20rem;
        padding-top: 0.5rem;
        text-align: center;
        font-size: 20px;
        
    }
    .pres col{
        width: 1440px;
        height: 40vh;
    }
    .prom{
        width: 180px;
        height: 80vh;
    }
    .sectionFooter{
        display:inline-block;
        height: 65vh;
        width: 90rem;
        padding-top: 7rem;
        
    }
    .tipo{
        width: 90rem;
        height: 80vh;
    }
    .cuerpo{
        width: 90rem;
    }
    .contacto{
        font-size: 1rem;
        text-align: center;
        /* padding-left: 1rem; */
        width: 90rem;
        height: 20vh;
    }
    .img{
        grid-area: img;
        width: 100px;
        height: 50vh;
        grid-area: img;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1px 10px 10px 0px;   
    }
    .imagen{
        width: 50vh;
        height: 50vh;
        grid-template-columns: 5vh 5vh 5vh;
        grid-template-rows: 10vh 10vh 10vh;
        ;
    } 
    .imgte{
        grid-area: img;
        width: 50px;
        height: 50vh;
        grid-area: img;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        padding: 1px 10px 10px 0px;   
    }

    .contactote{
        font-size: 30px;
        text-align: center;
        width: 90rem;
        height: 5vh;
        background-color:greenyellow;
       
    }
    .sectionFooterte{
        display:inline-block;
        height: 40vh;
        width: 90rem;
        padding-top: 7rem;
        
    }

}
@media(max-width: 1024px){

    .inicio{
        font-size: 1rem;
        text-align: justify;
        padding: 1rem 2rem 1rem 10rem;
        display: column;
        width: 1024px;
        height: 40vh;
        
    }
    .membrete{
            width: 1024px;;
            font-size: 10px;
            gap: 30px;
           
    }
    .pepito{
        width: 1024px;
        gap:30px;
       
    }
    .cuerpo{
        width: 1024px;
       

    }
    .pres{
        width: 1024px;
    }
    .prom{
        width: 180px;
        height: 5vh;
        
    }
  
    .imagen{
        width: 30vh;
        height: 20vh;
        grid-template-columns: 5vh 5vh 5vh;
        grid-template-rows: 10vh 10vh 10vh;
        
    }
    .imgte{
        /* grid-area: img; */
        width: 450px;
        height: 50vh;
        /* grid-area: img; */
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        /* padding: 1px 10px 10px 0px;    */
        
    }
    .navbar{

        width: auto;
        height: 5vh;
        padding-left: 6rem;
        padding-top: 0.5rem;
        text-align: center;
        font-size: 20px;
        
    }
    .acerca{
        height: 500px;
        width: 1024px;
    }
    .acercab{
        width: 1024px;
        height: 500px;
    }

    .sectionFooter{
        display:inline-block;
        height: 35vh;
        width: 1024px;
        padding-top: 7rem;
        gap:30px;
        
    }
    .tipo{
        width: 1024px;
        height: 60vh;
    }
    .prom{
        width: auto;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .prom p{
        width: auto;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .par{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .row{
        width: auto;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
       
    }
    .contacto{
        font-size: 1.75rem;
        text-align: center;
        width: 1024px; 
        height: 10vh;
    }
    .img{
        grid-area: img;
        width: 50px;
        height: 50vh;
        grid-area: img;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1px 10px 10px 0px; 
         
    }
    .contactote{
        font-size: 1.75rem;
        text-align: center;
        width: 1024px; 
        height: 10vh;
    }
    .menute{
        padding-left: 20px;
        width: 1024px;  
    }

}
@media(max-width: 768px){
    h1{
        text-align: left;
        font-size: 25px;
        gap: 5px;
        flex-wrap: wrap;
        /* padding-left: 10px; */    
    }
    .sectionFooter{
        flex-wrap: wrap;
        justify-content: left;
        width: 768px;
    }
   .contacto{
    width: 768px;
   }
   .pepito{
    width:768px;
   }
   .navbar{
    width:768px;
    justify-content: center;
   }
   .tipo{
    width: 768px;
}
.div{
    gap: 30px;
    background-color:rgb(213, 200, 226);
}
.cuerpo row{
    width:768px;
    /* background-color:rgb(230, 243, 243); */
   }
.pres{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.menute{
    width: 768px;
    background-color:rgb(230, 243, 243); 
}

.tipote{
    text-align: right;
}

.contactote{
    width: 768px;   
}
.imgte{
    width: 620px;
    height: 300px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:rgb(230, 243, 243);
}
.acerca{
    height: 800px;
    width: 768px;
}
.acercab{
    width: 768px;
    height: 800px;
}
.sectionFooterte{
    height: 550px;
    width: 768px; 
    padding-top: 120px;
    background-color:rgb(230, 243, 243);
}

.div{
    background-color:rgb(230, 243, 243);
}
.row{
    width: 580px;
    /* justify-content: space-between; */
    font-size: 20px;
    background-color:rgb(230, 243, 243);
}

.col{
    /* text-align: left; */
    font-size: 20px;
    /* flex-direction: column; */
    flex-direction: wrap;

}
}
@media(max-width: 425px){
    .inicio{
        font-size: 2em;
        text-align: right;
        width: 425px;
        height: 40vh; 
        
    }
    .pepito{
        width: 425px;
        gap: 0.5px; 
        padding-left: 10px;
    }
    .navbar{
        width: 425px;
        height: 50px;
        padding-left: 1px;
        padding-top: 0.5rem;
        font-size: 20px;
    }
    .cuerpo{
        width: 425px;
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: 500px 500px 500px;
        
    }
    .menute{
        
        flex-direction: wrap;
        height: 30px;
        width: 400px;
        padding-top: 25rem;
        gap:1px;
    }
    .contacto{
            font-size: 20px;
            text-align: center;
            width: 425px; 
            height: 10vh;
    }
    .contactote{
        font-size: 20px;
        text-align: center;
        width: 425px; 
        height: 10vh;
    }
  
 
.col{
    width: 300px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.pres{
    width: 300px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
    .acercab{
        width: 425px;
        height: 500px;
    }

    .sectionFooter{
        height: 35vh;
        width: 425px;
        padding-top: 7rem;
        padding-left: 1px;
    }
    /* .sectionFooter{
        flex-wrap: wrap;
        justify-content: left;
        width: 425px;
    } */

    /* .tipo{
        width: 425px;
        height: 30px;
    } */
    .prom{
        /* width: auto; */
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .col{
        /* width: auto; */
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .ofer{
        /* width: auto; */
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .prom p{
        width: auto;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .par{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .row{
        width: auto;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;   
    }
}

@media(max-width: 375px){
    .inicio{
        font-size: 1rem;
        text-align: justify;
        padding: 1rem 2rem 1rem 10rem;
        display: column;
        width: 375px;
        height: 40vh;
    }


    .menu{
        justify-content: space-between;
        padding-left: 8rem;
        padding-top: 2rem;
        height: 40vh;
        width: 375px;
    }
    .navbar{

        width: 375px;
        height: 5vh;
        padding-left: 1rem;
        padding-top: 0.5rem;
        text-align: center;
        font-size: 20px;
    }
    .sectionFooter{
        display: flex;
        flex-direction: column;
        height: 65vh;
        width: 375px;
        padding-top: 7rem;
        padding-left: 1rem;
        text-align: center;
        
    }
    .tipo{
        width: 375px;
        height: 60vh;
    }

    .contacto{
        font-size: 20px;
        width: 375px;
        height: 20vh;
    }
    /* .img{
        grid-area: img;
        width: 50px;
        height: 50vh;
        grid-area: img;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1px 10px 10px 0px; 
        background-color: aqua;  
    } */
    /* .imagen{
        width: 25vh;
        height: 35vh;
        grid-template-columns: 5vh 5vh 5vh;
        grid-template-rows: 10vh 10vh 10vh;
        background-color: aqua;
    } */
} 

@media(max-width: 320px){
    
    .inicio{
        font-size: 1rem;
        text-align: justify;
        padding: 0.5rem 2rem 1rem 0rem;
        display: block;
        width: 320px;
        height: 50vh;
        display: block;
    }

    .menu{
        
        height: 35vh;
        width: 320px;
    
    }
    .navbar{
        width: 320px;
        height: 5vh;
        padding-left: 1rem;
        padding-top: 0.5rem;
        text-align: center;
        font-size: 20px;
    }
    .pepito{
        width: 320px;
    }
    .sectionFooter{
        display:inline block;
        height: 10vh;
        width: 320px;    
    }
    .tipo{
        width: 320px;
        height: 100vh;
    }
.cuerpo{
    height: 120vh;
}

.contacto{
        font-size:1rem;
        text-align: justify;
        width: 320px;
        height: 10vh;
}
.contactote{
    font-size:1.5rem;
    text-align: justify;
    width: 320px;
    height: 10vh;
}
    .img{
        grid-area: img;
        width: 320px;
        height: 50vh;
        grid-area: img;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1px 10px 10px 0px;   
    }
    .imagen{
        width: 320px;
        height: 50vh;
        grid-template-columns: 5vh 5vh 5vh;
        grid-template-rows: 10vh 10vh 10vh;
        ;
    }
}
